@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Source+Sans+Pro&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}

.logo-img {
  height: 45px;
}
html {
  background-color: #eeecec;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  object-fit: ;
}

.App-link {
  color: #61dafb;
}

.signup-header {
  display: block;
}

.signup-form-contianer {
  display: block;
}

.feed {
  display: block;
}